.auto-calls-focus-cards {
  margin-bottom: 25px;
}

.auto-calls-focus-card-small {
  background-color: #fff;
  width: 100%;
  max-width: unset;
}

.auto-calls-focus-card-small:not(:last-child) {
  margin-bottom: 15px;
}

.auto-calls-player:hover {
  background-color: transparent !important;
}

.auto-calls-player:hover:before {
  background-color: #f25f2d;
}

audio.active ~ button.auto-calls-player::after {
  background-image: url("../img/icons/pause-white.svg") !important;
}

.players-slider .swiper-slide {
  height: unset;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.players-slider .swiper-wrapper {
  transition-timing-function: linear !important;
  position: relative;
}

@media screen and (max-width: 767.98px) {
  .players-slider .swiper-wrapper {
    transition-timing-function: ease !important;
  }

  audio.active ~ button.audio-play::after {
    background-image: url("../img/icons/pause-white.svg") !important ;
  }
}

.auto-calls-player:after {
  background-image: url("../img/icons/play-secondary-white.svg") !important;
}

.auto-calls-player:before {
  background-color: #f4774c;
}

.auto-calls-player-wrapper {
  height: fit-content;
  min-height: 40px;
  background: #f5f5f5;
  border-radius: 50px;
  max-width: fit-content;
}

.auto-calls-player-progressbar {
  margin-left: 30px;
  margin-right: 5px;
  cursor: pointer;
}

.auto-calls-voice-card {
  background-color: #fff;
}

.auto-calls-voice-card-desc {
  margin: 10px 0 15px;
}

.wave-wrapper {
  padding: 10px;
  max-height: 40px;
}

.wave {
  min-width: 170px;
  margin-left: 40px;
  height: 40px;
  background-image: url("../img/wave.svg");
  background-repeat: no-repeat;
}

.wave-orange {
  width: 0%;
  height: 40px;
  background-image: url("../img/wave.orange.svg");
  background-repeat: no-repeat;
}

.auto-calls-popover {
  max-width: 193px;
  left: -12% !important;
  margin-top: -10px;
}

.auto-calls-popover .popover-body {
  font-size: 14px;
  padding: 10px;
}

.auto-calls-table-row {
  width: 100%;
  display: flex;
  margin-bottom: 2px;
}

.auto-calls-table-worktime {
  min-height: 76px;
}

.auto-calls-table-cell {
  padding: 10px 8px 10px 10px;
  margin-right: 2px;
  flex: 1 1;
  font-size: 14px;
  line-height: 130%;
  background-color: #f5f5f5;
}

.auto-calls-table-cell-header {
  color: #3c3a3e;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 130%;
  padding: 10px 2px 10px 1px;
  min-width: 84px;
  border-top-left-radius: 5px;
}

.auto-calls-tooltip {
  margin: 0 0 0 2px;
  display: inline;
}

.auto-calls-tooltip-activator {
  max-width: 15px;
  max-height: 15px;
}

.auto-calls-table-cell-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 12px;
  align-items: center;
  padding: 0px;
  min-width: 76px;
}

.auto-calls-table-left {
  min-width: 135px;
  max-width: 45%;
}

.auto-calls-table-left h2 {
  color: #3c3a3e;
  line-height: 133%;
  margin-bottom: 59px;
  margin-right: 29px;
}

.auto-calls-table-sametime {
  border-top-left-radius: 5px;
  border-left-color: #f5f5f5;
}

.auto-calls-table-cell-mobile-empty {
  background-color: #fff;
}

.auto-calls-table-cell-call,
.auto-calls-table-cell-zvonok {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.auto-calls-table-cell-call {
  color: #8c8c8d;
  min-width: 84px;
}

.auto-calls-table-cell-zvonok {
  min-width: 76px;
}

.auto-calls-focus-top {
  margin-bottom: 25px;
}

.auto-calls-focus-bottom {
  padding: 25px 15px 0px;
}

.auto-calls-robot-right {
  max-height: 270px;
  margin-top: 20px;
  min-height: 270px;
  max-width: 219px;
  margin-bottom: -99px;
  margin-left: auto;
  margin-right: auto;
}

.auto-calls-focus-card-header {
  font-size: 18px;
  margin-bottom: -15px;
}

.auto-calls-focus-card {
  padding: 25px 15px;
  border-radius: 5px;
}

.auto-calls-hero-imageblock {
  margin-right: -10px;
  margin-bottom: -15px;
  margin-left: -12px;
  margin-top: -30px;
  min-width: 320px;
}

.auto-calls-hero-image {
  min-width: 100%;
  min-height: 317px;
}

@media screen and (min-width: 375px) {
  .auto-calls-table-cell-logo {
    min-width: 105px;
  }

  .auto-calls-popover {
    max-width: 198px;
    left: -17% !important;
  }

  .wave {
    min-width: 190px;
  }
}

@media screen and (min-width: 399px) {
  .auto-calls-table-cell-logo {
    min-width: 117px;
  }

  .auto-calls-table-cell-header {
    min-width: 117px;
  }

  .auto-calls-popover {
    left: -15% !important;
  }
}

@media screen and (min-width: 410px) {
  .auto-calls-reanimate-desc {
    margin-bottom: 35px;
  }

  .wave {
    min-width: 210px;
  }
}

@media screen and (min-width: 420px) {
  .auto-calls-table-cell-logo,
  .auto-calls-table-cell-header {
    min-width: 124px;
  }

  .auto-calls-popover {
    max-width: 208px;
    left: -13% !important;
  }

  .auto-calls-reanimate-desc {
    margin-bottom: 15px;
  }

  .auto-calls-voice-card-desc {
    font-size: 14px;
  }

  .wave {
    min-width: 180px;
  }
}

@media screen and (min-width: 446px) {
  .auto-calls-voice-card-desc {
    font-size: 15px;
  }
}

@media screen and (min-width: 450px) {
  .auto-calls-table-cell-logo {
    min-width: 134px;
  }

  .auto-calls-table-cell-header {
    min-width: 134px;
  }

  .auto-calls-popover {
    left: -12% !important;
  }
}

@media screen and (min-width: 520px) {
  .auto-calls-hero-imageblock {
    margin-right: 0px;
    margin-bottom: -20px;
    margin-left: 0px;
    margin-top: -40px;
    min-width: 130%;
  }

  .auto-calls-hero-image {
    min-width: 81%;
    max-width: 85%;
  }

  .auto-calls-popover {
    left: -11% !important;
  }

  .auto-calls-voice-card-desc {
    font-size: 17px;
  }
}

@media screen and (min-width: 575px) {
  .d-lg-flex-column-sm {
    display: flex;
    flex-direction: column;
  }

  .auto-calls-popover {
    max-width: 228px;
    left: -8% !important;
  }

  .auto-calls-table-cell {
    font-size: 16px;
  }

  .auto-calls-table-cell-header {
    font-size: 14px;
  }

  .auto-calls-table-cell-logo {
    min-width: 168.67px;
  }

  .auto-calls-zvonok-logo {
    min-width: 85px;
    min-height: 20px;
  }

  .auto-calls-focus-top {
    margin-bottom: 30px;
  }

  .auto-calls-focus-card {
    padding: 30px 20px;
  }

  .auto-calls-focus-card-header {
    font-size: 20px;
    margin-bottom: -5px;
  }

  .auto-calls-robot-right {
    max-width: 252px;
    margin-bottom: -78px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 610px) {
  .auto-calls-hero-image {
    min-width: 85%;
  }

  .auto-calls-popover {
    max-width: 238px;
    left: -7% !important;
  }

  .wave {
    min-width: 219px;
  }
}

@media screen and (min-width: 659px) {
  .auto-calls-hero-image {
    min-width: 88%;
  }

  .auto-calls-popover {
    max-width: 238px;
    left: -6.2% !important;
  }
}

@media screen and (min-width: 720px) {
  .auto-calls-hero-imageblock {
    min-width: 90%;
    margin: 0;
    margin-top: 0px;
    margin-bottom: -10px;
  }

  .auto-calls-hero-image {
    min-width: 100%;
  }

  .auto-calls-voice-card-desc {
    font-size: 14px;
  }
}

@media screen and (min-width: 767px) {
  .auto-calls-popover {
    max-width: 258px;
    left: -4% !important;
  }

  .auto-calls-hero-image {
    min-width: 85%;
  }

  .auto-calls-voice-cards {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0px;
  }

  .auto-calls-player-progressbar {
    margin-left: 50px;
    margin-top: 9px;
    margin-right: 15px;
    cursor: pointer;
    max-width: 200px;
  }

  .auto-calls-voice-card {
    max-width: 350px;
    padding-bottom: 25px;
  }

  .auto-calls-voice-card-desc {
    font-size: 17px;
  }

  .auto-calls-table-cell {
    font-size: 17px;
  }

  .auto-calls-table-cell-header {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .auto-calls-table-cell-logo {
    min-width: 232px;
    border-top-right-radius: 5px;
  }

  .auto-calls-zvonok-logo {
    min-width: 100px;
    min-height: 30px;
  }

  .auto-calls-focus-top {
    margin-bottom: 35px;
  }

  .auto-calls-focus-card {
    padding: 40px 25px;
  }

  .auto-calls-focus-card-header {
    margin-bottom: 25px;
  }

  .auto-calls-robot-right {
    max-width: 300px;
    margin-bottom: -40px;
    margin-top: 35px;
  }
}

@media screen and (min-width: 992px) {
  .auto-calls-hero {
    padding-top: 65px;
  }

  .auto-calls-focus-cards {
    display: flex;
    margin-bottom: 55px;
  }

  .auto-calls-focus-card-small {
    background-color: transparent;
  }

  .auto-calls-tooltip-activator {
    max-width: 22px;
    max-height: 22px;
    margin-bottom: 3px;
  }

  .auto-calls-voice-cards {
    grid-gap: 20px;
  }

  .auto-calls-voice-card {
    margin: 0px;
    max-width: unset;
  }

  .auto-calls-voice-card-desc {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .auto-calls-player-progressbar {
    max-width: 240px;
  }

  .auto-calls-popover {
    left: -3% !important;
    text-align: center;
    font-size: 18px;
  }

  
  .auto-calls-hero-imageblock {
    margin: 0;
    max-width: 40%;
    max-height: 399px;
    min-width: 40%;
    min-height: 399px;
    margin-left: -23px;
    position: relative;
    z-index: -1;
    margin-top: -64px;
  }

  .auto-calls-hero-image {
    max-width: 525px;
    max-height: 383px;
    min-width: 100%;
    min-height: 383px;
  }

  .auto-calls-focus-card-small {
    width: 33%;
  }

  .auto-calls-focus-card-small:not(:first-child) {
    margin-left: 20px;
    margin-bottom: 0px;
  }

  .auto-calls-focus-card-small {
    margin-bottom: 0px;
  }

  .auto-calls-table-left {
    min-width: 552px;
    padding: 20px 30px;
  }

  .auto-calls-table-cell-mobile-empty {
    padding: 0px;
  }

  .auto-calls-table-cell-logo {
    min-width: 201px;
    max-width: 276px;
  }

  .auto-calls-table-cell-header {
    font-size: 20px;
    padding: 42px;
    max-width: 21.35%;
  }

  .auto-calls-focus-card-small-desc {
    font-size: 16px;
  }

  .auto-calls-focus-top {
    margin-bottom: 55px;
  }

  .auto-calls-focus-card {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
  }

  .auto-calls-focus-card-header {
    font-size: 20px;
  }

  .auto-calls-robot-left {
    width: 600px;
  }

  .auto-calls-robot-right {
    max-width: 308px;
    max-height: 400px;
    min-height: 400px;
    position: absolute;
    right: 30px;
    top: -1px;
  }

  .auto-calls-robot-image {
    min-height: 442px;
  }

  .auto-calls-card-left {
    max-width: 505px;
  }

  .auto-calls-card-left h2 {
    margin-bottom: 0px;
  }

  .auto-calls-focus-bottom {
    padding: 55px 0px 55px 55px;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .auto-calls-popover {
    left: -1.5% !important;
  }

  .auto-calls-hero-imageblock {
    margin: 0;
    max-width: 645px;
    max-height: 399px;
    min-width: 645px;
    min-height: 399px;
    margin-left: -43px;
    position: relative;
    z-index: -1;
    margin-top: -64px;
  }

  .auto-calls-hero-image {
    max-width: 645px;
    max-height: 403px;
    min-width: 645px;
    min-height: 403px;
  }

  .auto-calls-focus-card-small:not(:first-child) {
    margin-left: 30px;
  }

  .auto-calls-voice-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .auto-calls-voice-card {
    padding: 35px 25px;
  }

  .auto-calls-table-cell {
    font-size: 20px;
  }

  .auto-calls-table-cell-header {
    max-width: 24.85%;
  }

  .auto-calls-zvonok-logo {
    min-width: 174px;
    min-height: 35px;
  }

  .auto-calls-focus-card-small-desc {
    font-size: 18px;
  }

  .auto-calls-focus-card {
    padding: 0px 35px;
    margin-left: 30px;
  }

  .auto-calls-focus-bottom {
    padding: 55px 0px 55px 55px;
    position: relative;
  }

  .auto-calls-robot-right {
    max-width: 358px;
    max-height: 442px;
    min-height: 442px;
    position: absolute;
    margin-left: 16px;
    right: 80px;
    top: -25px;
  }
}
