.fit-content {
  max-width: fit-content;
}

.confirmations-hero-left {
  box-shadow: 0px 0px 30px 0px rgba(244, 119, 76, 0.2);
  border-radius: 7px;
  margin-bottom: 20px;
}

.confirmations-focus-desc-in-frame {
  padding: 23px 16px 24px 14px;
  border-radius: 5px;
  min-width: 237px;
}

.confirmations-caption-small {
  min-width: 237px;
}

.confirmations-hero-left-top,
.confirmations-hero-left-bottom {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
}

.faq-list {
  margin: 10px 0px 0px 0px;
  list-style: decimal outside;
  padding-left: 20px;
}

.confirmations-input {
  background-color: #f5f5f5;
  border-radius: 20px 0px 0px 20px;
}

.confirmations-hero-left-top {
  min-height: 207px;
}

.confirmations-hero-left-bottom {
  min-height: 182px;
  background-color: #e4e4e4;
}

.confirmation-hero-card {
  min-height: 204px;
}

.confirmations-card-with-icon::before {
  content: "";
  background: no-repeat center center;
  display: block;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.confirmations-card-tel::before {
  background-image: url("../img/icons/phone.svg");
}

.confirmations-card-fast::before {
  background-image: url("../img/icons/fast.svg");
}

.confirmations-card-money::before {
  background-image: url("../img/icons/money.svg");
}

.confirmations-step-image {
  position: absolute;
  bottom: -10%;
  right: 15px;
}

.confirmations-step-robot-image {
  bottom: -16%;
  right: 8px;
}

.confirmations-card {
  padding: 25px 15px;
}

.confirmations-step-subtitle {
  margin-bottom: 15px;
}

.confirmations-card-header {
  margin-bottom: 10px;
  font-size: 18px;
}

.confirmations-card-desc {
  margin-bottom: 15px;
}

.confirmations-marquee-list {
  animation-duration: 20s;
  animation-name: marquee;
}

.confirmations-marque-point:before {
  content: "";
  background: url("../img/icons/marquee-point.svg") no-repeat center center;
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
}

.confirmations-politics a {
  color: #f4774c;
}

.confirmations-tel {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.confirmations-tel:before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../img/icons/tel.svg") no-repeat center center;
  margin-right: 10px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.confirmations-marquee-list svg {
  max-width: 5px;
  max-height: 5px;
}

.confirmations-focus-list {
  padding: 0px;
}

.confirmations-focus-list li {
  margin-bottom: 15px;
  font-size: 15px;
}

.confirmations-focus-list svg {
  margin: 5px 10px 0px 0px;
  min-width: 25px;
  min-height: 25px;
}

.confirmations-focus-note {
  color: rgba(140, 140, 141, 0.73);
  margin-top: 5px;
}

.conversation-focus-example {
  margin-top: 10px;
  font-size: 13px;
}

.confirmations-focus-card-tel-number {
  padding: 15px 0px;
  font-size: 25px;
  margin: 15px 0px;
  line-height: 130%;
}

.confrimations-focus-card-header {
  margin-bottom: 5px !important;
  font-size: 18px;
}

.confirmations-focus-card-small {
  margin-bottom: 15px;
  max-width: unset;
}

.confirmations-promo-card {
  min-height: 169px;
}

.methods-subheader {
  font-size: 18px;
}

.methods-card {
  margin-bottom: 15px;
  margin-top: 20px;
}

.methods-card-big {
  padding-top: 5px;
  padding-right: 5px;
}

.methods-card-with-note {
  padding-top: 5px;
  padding-right: 6px;
}

.methods-card-with-note-header {
  margin-top: -10px;
}

.methods-card-first-button {
  margin-top: 5px;
}

.methods-note {
  border-radius: 25px;
  padding: 4px 5px;
  font-size: 13px;
}

.methods-note-best {
  margin-bottom: 5px;
}

.confirmations-price-header {
  font-size: 18px;
}

.confirmations-price-modal-activator svg {
  max-width: 15px;
  max-height: 15px;
  margin-bottom: 2px;
}

.confirmations-priceblock {
  padding: 40px 10px;
}

.confirmations-detail-instruction {
  margin-bottom: 45px;
  max-width: 500px;
  min-width: 300px;
}

.scenario-cards {
  margin-bottom: 55px;
}

.scenario-cards-row {
  margin-bottom: 55px;
}

.scenario-card {
  margin-top: 15px;
  padding: 20px 15px;
}

.scenario-card-with-chip {
  margin-top: 25px;
}

.scenario-chip {
  position: absolute;
  left: 50%;
  top: -15%;
  padding: 4px 13px;
  border-radius: 20px;
  transform: translateX(-50%);
  min-width: max-content;
  max-width: 180px;
  max-height: 25px;
}

.scenario-chip :before {
  width: 15px;
  height: 15px;
  display: inline-block;
  content: "";
  background: url("../img/icons/star-mobile.svg") no-repeat center center;
  margin: 0px 4px -2px 0;
}

.api-link {
  font-weight: 600;
  margin-top: 5px;
}

.api-link:hover,
.methods-know-button:hover,
.get-link:hover {
  color: #f25f2d;
}

.confirmations-arrow-button {
  min-width: 40px !important;
  background-color: #f5f5f5;
  margin-left: 0px;
  border-right: 1px solid var(--color-grey-med, #aeaeae);
  border-radius: 0px 20px 20px 0px;
}

.confirmations-advantages {
  margin-top: 35px;
}

.confirmations-disadvantages-list li:before {
  background-image: url("../img/icons/disadvantage.svg");
}

.confirmations-difference-header {
  margin-bottom: 15px;
}

.confirmation-difference-list li {
  font-size: 15px;
  padding-left: 18px;
}

.confirmation-difference-list li:before {
  margin-top: 2px;
}

@media screen and (min-width: 375px) {
  .confirmation-hero-card {
    min-height: 154px;
  }
}

@media screen and (min-width: 390px) {
  .confirmations-price-desc {
    font-size: 14px;
  }
}

@media screen and (min-width: 425px) {
  .confirmation-hero-card {
    min-height: 161px;
  }

  .confirmations-promo-card {
    min-height: 155px;
  }

  .confirmations-price-modal-activator svg {
    margin-bottom: 4px;
  }

  .confirmations-price-desc {
    font-size: 15px;
  }
}

@media screen and (min-width: 520px) {
  .confirmations-focus-list li {
    font-size: 16px;
    align-items: center;
  }

  .confirmations-focus-list svg {
    margin-top: 0px;
  }

  .confirmations-marquee-list svg {
    max-width: 10px;
    max-height: 10px;
  }

  .confirmations-step {
    font-size: 14px;
  }

  .confirmations-step svg {
    margin-bottom: 0px;
  }

  .confirmations-step-image {
    right: 26px;
  }

  .confirmations-step-robot-image {
    min-width: 110px;
    bottom: -22px;
  }

  .confirmations-detail-instruction-desc {
    margin-bottom: 5px !important;
  }

  .confirmations-price-modal-activator svg {
    margin-bottom: 2px;
  }

  .confrimations-focus-card-header {
    margin-bottom: 10px !important;
    font-size: 19px;
  }
}

@media screen and (min-width: 576px) {
  .confirmations-priceblock {
    padding: 40px 25px;
  }

  .confirmations-price-modal-activator svg {
    max-width: 20px;
    max-height: 20px;
    margin-bottom: 4px;
  }

  .confirmations-focus-list li {
    align-items: start;
    margin-bottom: 20px;
  }

  .confrimations-cost-modal {
    padding: 20px;
  }

  .confrimations-cost-modal-close {
    top: -40px !important;
  }

  .confirmation-difference-list li {
    padding-left: 35px;
  }

  .confirmation-hero-card {
    min-height: 175px;
  }
}

@media screen and (min-width: 720px) {
  .confirmations-step-robot-image {
    min-width: 115px;
  }

  .confirmations-focus-card,
  .scenario-card {
    padding: 30px 35px;
  }

  .scenario-card-desc {
    font-size: 16px;
  }

  .confirmations-focus-card-tel-number {
    margin: 15px 0px 20px;
  }

  .confirmations-difference-header {
    margin-bottom: 20px;
  }

  .confirmation-difference-list li {
    font-size: 16px;
  }
}

@media screen and (min-width: 767px) {
  .confirmation-hero-card {
    min-height: 220px;
  }

  .confirmations-detail-instruction {
    max-width: unset;
  }

  .confirmations-marque-point:before {
    width: 10px;
    height: 10px;
  }

  .confirmations-hero-left-top,
  .confirmations-hero-left-bottom {
    padding: 35px 20px;
  }

  .confirmations-hero-left-top {
    min-height: 190px;
  }

  .confirmations-hero-left-bottom {
    min-height: 152px;
  }

  .confirmations-step {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .confirmations-step-subtitle {
    margin-bottom: 20px;
  }

  .confirmations-step-robot-image {
    min-width: 120px;
  }

  .confirmations-promo-card {
    min-height: 149px;
  }

  .confirmations-get {
    padding: 15px 13px 14px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    margin-top: 20px;
  }

  .confirmations-get-text {
    max-width: 553px;
    font-size: 15px;
    color: #5a5a5a !important;
  }

  .confirmations-focus-card-tel-number {
    font-size: 28px;
  }

  .confirmations-price-header {
    font-size: 20px;
  }

  .confirmations-input {
    border-radius: 20px;
    max-width: 80%;
  }

  .confirmations-arrow-button {
    margin-left: 10px;
    border: none;
  }
}

@media screen and (min-width: 992px) {
  .lg-mw-579 {
    max-width: 579px;
  }

  .confirmations-focus-card-small-desc {
    min-width: 300px;
  }

  .confrimations-hero-wrapper {
    padding-top: 25px;
    align-items: center;
  }

  .confirmations-hero-left {
    margin-left: 20px;
  }

  .confirmations-input {
    max-width: 300px;
    margin-right: 0px;
  }

  .confirmations-hero-left-top,
  .confirmations-hero-left-bottom {
    padding: 40px;
    min-height: 224px;
  }

  .confirmations-step {
    font-size: 15px;
  }

  .confrimations-focus-card-header {
    font-size: 20px;
    margin-bottom: 20px !important;
  }

  .confirmations-focus-desc {
    font-size: 18px;
  }

  .conversation-focus-example {
    padding: 25px 35px 0px 35px;
    margin-top: 0px !important;
    justify-content: center;
    align-items: center;
  }

  .conversation-focus-example-desc {
    max-width: 470px;
    font-size: 15px;
  }

  .confirmations-tel:before {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .confirmations-card {
    padding: 35px 25px;
    border-radius: 5px;
  }

  .confirmations-card-icon {
    margin-bottom: 15px;
  }

  .confirmation-hero-card {
    min-height: 228px;
  }

  .confirmation-hero-card-icon {
    margin-bottom: 20px;
  }

  .confirmations-card:not(:first-child) {
    margin-left: 20px;
  }

  .confirmations-card-with-icon::before {
    margin-bottom: 15px;
  }

  .confirmations-card-desc {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .confirmations-focus-card-small {
    margin: 0px 20px 0px 0px;
    background: transparent;
    min-height: 200px;
    max-width: 200px;
    max-width: 33.3%;
  }

  .scenario-cards {
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .methods-cards {
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .methods-card-medium {
    margin: 0px !important;
    min-width: 50%;
    max-width: unset;
  }

  .methods-card-big {
    padding-top: 10px;
    padding-right: 10px;
  }

  .methods-card-with-note {
    padding-top: 15px;
    padding-right: 15px;
  }

  .methods-card-with-note-small {
    padding-top: 10px;
    padding-right: 10px;
  }

  .methods-card-with-note-header {
    margin-top: -15px;
  }

  .methods-note {
    padding: 5px 10px;
    font-size: 15px;
  }

  .methods-note-small {
    font-size: 13px;
    padding: 5px 7px;
    margin-bottom: 8px;
    max-height: 30px;
  }

  .confirmations-marquee-list li {
    font-size: 25px;
    margin-right: 20px !important;
  }

  .confirmations-marquee-list li:last-child {
    margin-right: 10px !important;
  }

  .confirmations-marquee-list svg {
    min-height: 10px;
    min-width: 10px;
    margin-bottom: 5px;
  }

  .confirmations-focus-card {
    padding: 0px 35px;
    margin-left: 25px;
  }

  .confirmations-focus-list li {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .confirmations-focus-list svg {
    margin: 4px 10px 0px 0px;
  }

  .confirmations-promo-card-desc {
    font-size: 15px;
  }

  .confirmations-focus-card-tel-number {
    font-size: 35px;
    padding: 30px 0px;
    line-height: 120%;
  }

  .methods-card {
    margin-bottom: 30px;
  }

  .methods-card-left {
    max-width: 616px;
  }

  .methods-subheader {
    font-size: 25px;
  }

  .methods-card-right {
    position: absolute;
    right: 20px;
    bottom: -35px;
  }

  .methods-robot-image {
    max-width: 273px;
    max-height: 201px;
  }

  .methods-card-first-button {
    max-width: 202px;
    margin-top: 0px;
  }

  .confirmations-priceblock {
    padding: 55px;
  }

  .confirmations-price-desc {
    font-size: 17px;
  }

  .confirmations-price-left {
    margin-right: 40px;
  }

  .confirmations-price-list li {
    font-size: 16px;
  }

  .confirmations-price-wrapper {
    margin-bottom: 35px !important;
  }

  .confirmations-price-tooltip svg {
    margin-bottom: 6px;
  }

  .confirmations-feature-price-tooltip {
    margin-left: 4px;
  }

  .confirmations-feature-price-tooltip svg {
    margin-bottom: 5px;
  }

  .confirmations-answer-tooltip {
    margin-left: 5px;
  }

  .confirmations-answer-tooltip svg {
    margin-bottom: 4px;
  }

  .confirmations-detail-instruction {
    max-width: 465px;
    margin-left: 35px;
  }

  .scenario-chip {
    top: -12%;
    max-height: 29px;
  }

  .scenario-chip :before {
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/star.svg");
    margin: 0px 4px -3px 0;
  }

  .confirmations-step-image {
    bottom: 28px;
    right: 26px;
  }

  .scenario-cards {
    margin-bottom: 115px;
  }

  .scenario-card-order-3 {
    grid-row-start: 2;
    grid-column-end: 4;
  }

  .scenario-card-order-2 {
    grid-row-start: 2;
  }

  .scenario-card-order-1 {
    grid-row-start: 3;
  }

  .scenario-card-column-2 {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .confirmations-step-robot-image {
    min-width: 122px;
    min-height: 159px;
    bottom: -12%;
    transform: rotateY(172deg) rotate(6deg);
  }

  .confirmations-focus-card-narrow {
    padding: 35px !important;
  }

  .confirmations-advantages {
    margin-left: 20px;
    margin-top: 0px;
  }

  .confirmations-disadvantages,
  .confirmations-advantages {
    min-width: 450px;
    flex-shrink: 0;
  }

  .confirmations-answer {
    padding-top: 50px;
  }

  .confirmations-answer-right {
    margin: 0px 0px 0px -30px !important;
  }

  .confirmations-answer-left h2 {
    font-size: 25px;
  }

  .confirmation-difference-list li {
    font-size: 17px;
  }

  .confirmations-popover {
    left: 77% !important;
    top: -184px !important;
    margin-left: 4px !important;
    margin-bottom: 0px !important;
  }

  .confirmations-popover-arrow::before {
    left: 84% !important;
    bottom: -12px !important;
  }

  .warn-popover {
    min-width: 366px;
  }

  .warn-arrow::before {
    left: 79%;
    transform: rotateY(180deg);
  }

  .confirmations-hero-desc-small {
    max-width: 528px;
  }

  .confirmations-focus-desc-in-frame {
    padding: 35px 26px;
  }

  .methods-note-best {
    padding: 3px 10px;
  }

  .confirmations-answer-left,
  .confirmations-answer-left h2 {
    max-width: 470px;
  }

  .confirmations-price-header {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .confirmations-popover {
    left: 77.5% !important;
  }
}

@media screen and (min-width: 1200px) {
  .confirmations-hero-left {
    margin-left: 30px;
    min-width: 540px;
  }

  .confirmations-hero-left-top,
  .confirmations-hero-left-bottom {
    padding: 50px 94px;
    min-height: 261px;
    max-height: 261px;
  }

  .confirmations-card-header {
    font-size: 20px;
  }

  .confirmation-hero-card {
    min-height: 241px;
  }

  .confirmations-card-desc,
  .confirmations-promo-card-desc {
    font-size: 18px;
  }

  .confirmations-focus-card {
    padding: 0px 45px;
    margin-left: 30px;
  }

  .methods-cards {
    grid-gap: 30px;
  }

  .methods-card {
    max-height: 230px;
  }

  .methods-card-medium {
    max-height: 205px;
    max-width: unset !important;
    min-width: 50%;
  }

  .methods-card-right {
    right: 66px;
  }

  .methods-robot-image {
    max-width: 341px;
    max-height: 201px;
  }

  .confirmations-card {
    max-width: 350px;
  }

  .confirmations-card:not(:first-child) {
    margin-left: 30px;
  }

  .confirmations-price-desc {
    font-size: 20px;
  }

  .confirmations-price-left {
    margin-right: 75px;
  }

  .confirmations-price-list {
    margin-top: 15px !important;
  }

  .confirmations-price-list li {
    font-size: 18px;
  }

  .confirmations-detail-instruction {
    margin-left: 105px;
  }

  .confirmations-focus-card-small {
    margin: 0px 30px 0px 0px;
    min-height: 175px;
    max-height: 175px;
    max-width: 350px;
  }

  .confirmations-disadvantages,
  .confirmations-advantages {
    min-width: 500px;
  }

  .confirmations-advantages {
    margin-left: 30px;
  }

  .confirmations-answer-left {
    max-width: 580px;
  }

  .confirmations-answer-left h2 {
    max-width: unset;
  }

  .confirmation-difference-list li {
    font-size: 18px;
    padding-left: 40px;
  }

  .confirmations-popover {
    left: 84.5% !important;
  }

  .confirmations-popover-arrow::before {
    left: 69% !important;
    bottom: -12px !important;
  }

  .warn-arrow::before {
    left: 80%;
    transform: unset;
  }

  .methods-note-small {
    font-size: 14px;
    padding: 5px 10px 3px 10px;
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 1400px) {
  .confirmations-popover {
    left: 87% !important;
  }
}

@media screen and (min-width: 1500px) {
  .confirmations-popover {
    left: unset !important;
    top: unset !important;
  }

  .warn-popover {
    top: 92% !important;
    left: -10.5% !important;
  }

  .confirmations-popover-arrow:before {
    left: 8% !important;
  }
}
