.mass-call-promo-card {
  margin: 0 0 25px 0;
}

.mass-calls-promo-list {
  margin: 25px 0px;
}

.mass-call-detail-instruction {
  margin-bottom: 45px;
  max-width: 500px;
}

.mass-call-detail-instruction-desc {
  margin-bottom: 0px;
}



@media screen and (min-width: 767px) {
  .mass-call-detail-instruction {
    max-width: unset;
  }

  .mass-call-detail-instruction-desc {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .mass-call-hero-imageblock {
    margin-left: 10px;
    margin-top: -49px;
  }

  .mass-call-hero-image {
    max-width: 489px;
    min-height: 343px;
  }

  .mass-call-robot-right {
    right: 10px;
    top: 35px;
  }

  .mass-call-promo-card {
    margin: 0 0 35px 0;
    padding: 45px;
  }

  .mass-calls-promo-card-left {
    max-width: 434px;
    margin-right: 31px;
  }

  .mass-call-promo-card-top {
    margin-bottom: 40px;
  }

  .mass-call-promo-card-header {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .mass-call-promo-header {
    max-width: 604px;
  }

  .mass-call-promo-desc {
    max-width: 665px;
  }

  .mass-calls-promo-list {
    margin: -17px 0px 0px 0px;
  }

  .mass-call-promo-button {
    max-width: 247px;
  }

  .mass-call-promo-button-hot {
    margin-top: -25px;
  }
}

@media screen and (min-width: 1200px) {
  .mass-call-hero-imageblock {
    max-width: 592px;
    min-width: 592px;
    max-height: 381px;
    min-height: 381px;
    margin-top: -16px;
  }

  .mass-call-hero-image {
    max-width: 592px;
    min-height: 381px;
    max-height: 381px;
    min-width: 592px;
  }

  .mass-call-robot-right {
    right: 39px;
    max-width: 394px;
    margin-left: 0px;
  }

  .mass-calls-promo-card-left {
    max-width: 484px;
    margin-right: 56px;
  }

  .mass-calls-promo-card-left-hot {
    max-width: 455px;
    margin-right: 85px;
  }

  .mass-call-promo-card-header {
    font-size: 30px;
  }

  .mass-call-promo-button-hot {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1400px) {
  .mass-call-hero-imageblock {
    margin-left: 43px;
  }
}
