.desktop {
  display: none;
}

.desktop-768 {
  display: none;
}

.desktop-flex {
  display: none;
}

.redial-text {
  color: #5a5a5b !important;
}

.redial-results p {
  color: #5a5a5b !important;
}

.redial-h2 {
  font-size: 20px;
}

.redial-hero-wrapper {
  margin-bottom: 85px;
}

.redial-border-radius-left {
  border-bottom-left-radius: 5px;
}

.redial-border-radius-right {
  border-bottom-right-radius: 5px;
}

audio.active ~ button.redial-player::after {
  background-image: url("../img/icons/pause-white.svg") !important;
}
@media screen and (max-width: 767.98px) {
  audio.active ~ button.audio-play::after {
    background-image: url("../img/icons/pause-white.svg") !important ;
  }
}


.advantages-slider2 .swiper-slide {
  height: unset;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.advantages-slider2 .swiper-wrapper {
  transition-timing-function: linear !important;
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .advantages-slider2 .swiper-wrapper {
    transition-timing-function: ease !important;
  }
}


.redial-player:after {
  content: "";
  position: absolute;
  top: 0;
  left: -0.6px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/icons/play-secondary-white.svg") !important;
  transition: all 0.3s ease;
}

.redial-player:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.6px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #f4774c;
}

.redial-player-wrapper {
  height: fit-content;
  min-height: 40px;
  background: #f5f5f5;
  border-radius: 50px;
  max-width: fit-content;
}

.redial-player-progressbar {
  margin-left: 30px;
  cursor: pointer;
  margin-right: 5px;
}

.redial-voice-card {
  background-color: #fff;
}

.redial-voice-card-desc {
  margin-bottom: 15px;
}

.wave-wrapper {
  padding: 10px;
  max-height: 40px;
}

.wave {
  min-width: 170px;
  margin-left: 40px;
  height: 40px;
  background-image: url("../img/wave.svg") !important;
  background-repeat: no-repeat;
}

.wave-orange {
  width: 0%;
  height: 40px;
  background-image: url("../img/wave.orange.svg") !important;
  background-repeat: no-repeat;
}

.redial-accordion-header {
  font-size: 18px !important;
}

.redial-hero-button {
  background-color: #f4774c;
}

.redial-check img {
  max-width: 25px;
  max-height: 25px;
}

.redial-delofon:hover .redial-better-header {
  color: #1d71b8;
}

.redial-popover {
  max-width: 193px;
  left: -28% !important;
  margin-top: -10px;
}

.redial-popover .popover-body {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.07));
  font-size: 14px;
  padding: 10px;
}

.redial-table-row {
  width: 100%;
  display: flex;
  margin-bottom: 2px;
}

.radial-table-worktime {
  min-height: 76px;
}

.redial-table-cell {
  padding: 10px 8px 10px 10px;
  margin-right: 2px;
  flex: 1 1;
  font-size: 14px;
  color: #5a5a5b;
  line-height: 130%;
  background-color: #f5f5f5;
}

.redial-table-cell-header {
  color: var(--color-text-dark, #3c3a3e);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 130%; /* 15.6px */
  padding: 10px 2px 10px 1px;
  min-width: 84px;
  border-top-left-radius: 5px;
}

.redial-tooltip {
  margin: 0 0 0 2px;
  display: inline;
}

.radial-tooltip-activator {
  max-width: 15px;
  max-height: 15px;
}

.redial-arrow::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  bottom: -14px;
  left: 30%;
  background-image: url("../img/icons/arrow-white-tooltip.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.redial-table-cell-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 12px;
  align-items: center;
  padding: 0px;
  min-width: 76px;
}

.redial-table-left {
  min-width: 135px;
  max-width: 45%;
}

.redial-table-left h2 {
  color: #3c3a3e;
  line-height: 133%;
  margin-bottom: 59px;
  margin-right: 29px;
}

.redial-table-sametime {
  border-top-left-radius: 5px;
  border-left-color: #f5f5f5;
}

.redial-table-cell-mobile-empty {
  background-color: #fff;
}

.redial-table-cell-call,
.redial-table-cell-zvonok {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.redial-table-cell-call {
  color: #8c8c8d;
  min-width: 84px;
}

.redial-table-cell-zvonok {
  min-width: 76px;
}

.lh-13-14 {
  line-height: 130%;
}

.redial-list li {
  line-height: 140%;
}

.redial-circle:before {
  background-image: url("../img/decor/circle-redial.svg");
  bottom: -28px;
  width: 155px;
}

.redial-focus-top {
  margin-bottom: 25px;
}

.redial-focus-bottom {
  padding: 25px 15px 0px;
}

.redial-robot-right {
  max-height: 270px;
  margin-top: 20px;
  min-height: 270px;
  max-width: 219px;
  margin-bottom: -99px;
  margin-left: auto;
  margin-right: auto;
}

.redial-focus-paragraph {
  margin-bottom: 10px;
  line-height: 140%;
}

.redial-focus-card-header {
  font-size: 18px;
  margin-bottom: -15px;
}

.redial-focus-card {
  padding: 25px 15px;
  border-radius: 5px;
}

.redial-focus-paragraph:last-child {
  margin-bottom: 0px;
}

.redial-form-desc {
  max-width: unset;
}

.redial-time-list {
  margin-top: 30px;
}

.redial-answer-left {
  margin-top: 20px;
}

.redial-cases-button-wrapper {
  margin-top: 40px;
}

.redial-hero-imageblock {
  margin-right: -10px;
  margin-bottom: -15px;
  margin-left: -12px;
  margin-top: -30px;
}

.redial-hero-image {
  min-width: 100%;
  min-height: 317px;
}

.redial-better-header {
  margin-bottom: 10px;
}

.redial-answer {
  padding-top: 50px;
}

.redial-any:after {
  display: block;
  height: 8px;
  bottom: -8px;
  width: 120%;
}

.redial-client-header {
  color: var(--color-text-dark, #3c3a3e);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: -2.5px;
}

.redial-client-header h2 {
  font-size: 20px;
}

.redial-try-form {
  margin-top: 30px;
}

.redial-col-second {
  color: #8c8c8d;
}

@media screen and (min-width: 375px) {
  .redial-table-cell-logo {
    min-width: 105px;
  }

  .redial-popover {
    max-width: 198px;
    left: -30% !important;
  }

  .redial-clients-desc {
    margin-bottom: 33px !important;
  }

 .wave {
  min-width: 190px;
 }

}

@media screen and (min-width: 399px) {
  .redial-table-cell-logo {
    min-width: 117px;
  }

  .redial-table-cell-header {
    min-width: 117px;
  }

  .redial-popover {
    max-width: 198px;
    left: -28% !important;
  }
}


@media screen and (min-width: 410px) {
  .redial-reanimate-desc {
    margin-bottom: 35px;
  }

  .wave {
    min-width: 210px;
  }
}




@media screen and (min-width: 420px) {
  .redial-table-cell-logo {
    min-width: 124px;
  }

  .redial-table-cell-header {
    min-width: 124px;
  }

  .redial-popover {
    max-width: 208px;
    left: -26% !important;
  }

  .wave {
    min-width: 180px;
  }
}

@media screen and (min-width: 446px) {
  .redial-reanimate-desc {
    margin-bottom: 15px;
  }
  .redial-clients-desc {
    margin-bottom: 15px !important;
  }
 
}

@media screen and (min-width: 450px) {
  .redial-table-cell-logo {
    min-width: 134px;
  }

  .redial-table-cell-header {
    min-width: 134px;
  }

  .redial-popover {
    left: -24% !important;
  }
}

@media screen and (min-width: 520px) {
  .redial-hero-imageblock {
    margin-right: 0px;
    margin-bottom: -20px;
    margin-left: 0px;
    margin-top: -40px;
    min-width: 130%;
  }

  .redial-hero-image {
    min-width: 81%;
    max-width: 85%;
  }

  .redial-popover {
    left: -21% !important;
  }

  .redial-voice-card-desc {
    font-size: 17px;
  }
}

@media screen and (min-width: 475px) {

  .redial-clients-desc {
    margin-bottom: 35px !important;
  }
 
}



@media screen and (min-width: 520px) {
  .redial-clients-desc {
    margin-bottom: 15px !important;
  }
}


@media screen and (min-width: 540px) {
  .redial-clients-desc {
    margin-bottom: 38px !important;
  }
}

@media screen and (min-width: 575px) {
  .redial-h2 {
    font-size: calc(1.325rem + 0.9vw);
  }

  .redial-popover {
    max-width: 228px;
    left: -18% !important;
  }

  .redial-table-cell {
    font-size: 16px;
  }

  .redial-table-cell-header {
    font-size: 14px;
  }

  .redial-table-cell-logo {
    min-width: 168.67px;
  }

  .redial-zvonok-logo {
    min-width: 85px;
    min-height: 20px;
  }

  .redial-focus-top {
    margin-bottom: 30px;
  }

  .redial-focus-paragraph {
    font-size: 17px;
  }

  .redial-focus-card {
    padding: 30px 20px;
  }

  .redial-focus-card-header {
    font-size: 20px;
    margin-bottom: -5px;
  }

  .redial-client-header {
    font-size: 24px;
  }

  .redial-circle:before {
    display: block;
    width: 150px;
  }

  .redial-any:after {
    display: block;
    height: 15px;
    bottom: -15px;
    width: 115%;
  }

  .redial-robot-right {
    max-width: 252px;
    margin-bottom: -78px;
    margin-top: 25px;
  }

  .redial-cases-button-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }

  .redial-form-desc {
    margin-top: 15px;
  }

  .redial-list li {
    font-size: 16px;
  }

  .redial-answer-left {
    margin-top: 30px;
  }
}

@media screen and (min-width: 610px) {
  .redial-hero-image {
    min-width: 85%;
  }

  .redial-popover {
    max-width: 238px;
    left: -17% !important;
  }

  .wave {
    min-width: 219px;
  }
}

@media screen and (min-width: 659px) {
  .redial-hero-image {
    min-width: 88%;
  }

  .redial-popover {
    max-width: 238px;
    left: -15.2% !important;
  }
}

@media screen and (min-width: 720px) {
  .redial-hero {
    overflow: visible;
  }

  .redial-hero-imageblock {
    min-width: 90%;
    margin: 0;
    margin-top: -30px;
    margin-bottom: -10px;
  }

  .redial-hero-image {
    min-width: 100%;
  }

  .redial-voice-card-desc {
    font-size: 14px;
  }

  .redial-clients-desc {
    margin-bottom: 15px !important;
  }
}

@media screen and (min-width: 767px) {
  .redial-popover {
    max-width: 258px;
    left: -13% !important;
  }

  .mobile-768 {
    display: none;
  }

 

  .redial-hero-wrapper {
    margin-bottom: 60px;
  }

  .redial-hero-image {
    min-width: 85%;
  }

  .redial-voice-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0px;
  }

  .redial-player-progressbar {
    margin-left: 50px;
    margin-top: 9px;
    margin-right: 15px;
    cursor: pointer;
    max-width: 200px;
  }

  .redial-voice-card {
    max-width: 350px;
    padding-bottom: 25px;
  }

  .redial-voice-card-desc {
    font-size: 17px;
  }

  .redial-clients-desc {
    margin-bottom: 43px !important;
  }

  .redial-table-cell {
    font-size: 17px;
  }

  .redial-table-cell-header {
    font-size: 15px;
  }

  .redial-table-cell-logo {
    min-width: 232px;
    border-top-right-radius: 5px;
  }

  .redial-zvonok-logo {
    min-width: 100px;
    min-height: 30px;
  }

  .redial-focus-paragraph {
    font-size: 18px;
  }

  .redial-focus-top {
    margin-bottom: 35px;
  }

  .redial-focus-card {
    padding: 40px 25px;
  }

  .redial-focus-card-header {
    margin-bottom: 25px;
  }

  .redial-robot-right {
    max-width: 300px;
    margin-bottom: -40px;
    margin-top: 35px;
  }

  .redial-client-header {
    margin-bottom: 25px;
  }

  .redial-answer-left {
    margin-top: 40px;
  }

  .redial-list li {
    font-size: 18px;
  }

  .redial-circle:before {
    width: 180px;
    bottom: -23px;
  }

  .redial-accordion-header {
    font-size: 25px !important;
  }
}

@media screen and (min-width: 992px) {
  .redial-h2 {
    font-size: 30px;
  }

  .radial-tooltip-activator {
    max-width: 22px;
    max-height: 22px;
    margin-bottom: 3px;
  }

  .redial-voice-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0px;
  }

  .redial-voice-card {
    margin: 0px;
    max-width: unset;
  }

  .redial-voice-card-desc {
    margin-bottom: 25px;
    font-size: 18px;
  }


  .redial-clients-desc {
    margin-bottom: 25px !important;
  }


  .redial-player-progressbar {
    max-width: 240px;
  }

  .redial-popover {
    left: -130px !important;
    text-align: center;
    font-size: 18px;
  }

  .redial-check img {
    max-width: 35px;
    max-height: 35px;
  }

  .redial-arrow::before {
    content: "";

    left: 42%;
  }

  .redial-flex {
    display: flex;
  }

  .no-mb {
    margin-bottom: 0px;
  }

  .lh-13-14 {
    line-height: 140%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .desktop-flex {
    display: flex;
  }

  .redial-hero-imageblock {
    margin: 0;
    max-width: 40%;
    max-height: 399px;
    min-width: 40%;
    min-height: 399px;
    margin-left: -23px;
    position: relative;
    z-index: -1;
    margin-top: -64px;
  }

  .redial-hero-image {
    max-width: 525px;
    max-height: 383px;
    min-width: 100%;
    min-height: 383px;
  }

  .redial-hero-card {
    width: 33%;
  }

  .redial-hero-card:not(:first-child) {
    margin-left: 20px;
  }

  .redial-table-left {
    min-width: 552px;
    padding: 20px 30px;
  }

  .redial-table-cell-mobile-empty {
    padding: 0px;
  }

  .redial-table-cell-logo {
    min-width: 201px;
    max-width: 276px;
  }

  .redial-table-cell-header {
    font-size: 20px;
    padding: 42px;
    max-width: 24.85%;
  }

  .redial-hero-desc {
    font-size: 16px;
  }

  .redial-focus-top {
    margin-bottom: 55px;
  }

  .redial-focus-paragraph {
    font-size: 20px;
  }

  .redial-focus-card {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
  }

  .redial-focus-card-header {
    font-size: 20px;
  }

  .redial-robot-left {
    width: 580px;
  }

  .redial-robot-right {
    max-width: 308px;
    max-height: 400px;
    min-height: 400px;
    position: absolute;
    right: 30px;
    top: -1px;
  }

  .redial-robot-image {
    min-height: 442px;
  }

  .redial-client-case {
    padding: 60px 95px;
  }

  .redial-any:after {
    width: 100%;
  }

  .redial-case-item {
    max-width: 230px;
  }

  .redial-client-header {
    max-width: 469px;
  }

  .redial-case-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .redial-client-heading {
    margin-bottom: 15px;
  }

  .redial-heading-small {
    max-width: 185px;
  }

  .redial-faq-paragraph {
    max-width: 915px;
  }

  .redial-scenario-header {
    max-width: 540px;
  }

  .redial-answer {
    padding-top: 55px;
  }

  .redial-card-right {
    max-width: 505px;
  }

  .redial-card-right h2 {
    margin-bottom: 0px;
  }

  .redial-register-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: unset;
    padding: 0;
    margin: 0;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
  }

  .redial-form-desc {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 100%;
    margin: 0px;
    justify-self: center;
    max-height: 17px;
  }

  .redial-try-card-desc {
    margin-top: 15px;
  }

  .redial-try-form {
    margin-left: 0px !important;
    margin-top: 20px;
    max-width: 461px;
    max-height: 68px;
  }

  .redial-feedback {
    padding: 55px 55px 37px;
  }

  .redial-feedback-big {
    padding: 55px;
  }

  .redial-register-input {
    margin: 0px;
    padding: 10px;
  }

  .redial-answer-left {
    margin-top: 8px;
  }

  .redial-time-list {
    margin-top: 0px;
  }

  .redial-time-list li {
    font-size: 16px;
  }

  .redial-circle:before {
    background-image: url("../img/decor/circle20.svg");
    width: 194px;
    bottom: -11px;
  }

  .redial-focus-bottom {
    padding: 55px 0px 55px 55px;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .redial-hero-left {
    max-width: 540px;
  }

  .redial-hero-imageblock {
    margin: 0;
    max-width: 645px;
    max-height: 399px;
    min-width: 645px;
    min-height: 399px;
    margin-left: -43px;
    position: relative;
    z-index: -1;
    margin-top: -64px;
  }

  .redial-hero-image {
    max-width: 645px;
    max-height: 403px;
    min-width: 645px;
    min-height: 403px;
  }

  .redial-hero-card:not(:first-child) {
    margin-left: 30px;
  }

  .redial-voice-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .redial-voice-card {
    padding: 35px 25px;
  }

  .redial-table-cell {
    font-size: 20px;
  }

  .redial-zvonok-logo {
    min-width: 174px;
    min-height: 35px;
  }

  .redial-hero-desc {
    font-size: 18px;
  }

  .auto-redial-focus-wrapper {
    padding-right: 95px;
  }

  .redial-focus-card {
    padding: 0px 35px;
    margin-left: 30px;
  }

  .redial-focus-bottom {
    padding: 55px 0px 55px 55px;
    position: relative;
  }

  .redial-time-list {
    margin-left: 60px;
  }

  .redial-robot-right {
    max-width: 358px;
    max-height: 442px;
    min-height: 442px;
    position: absolute;
    margin-left: 16px;
    right: 80px;
    top: -25px;
  }

  .redial-list li {
    font-size: 18px;
  }

  .cases-clients-logo {
    max-width: 469px;
  }

  .redial-register-input {
    max-width: 285px;
    min-width: 285px;
  }

  .redial-register-button {
    padding: 10px 32px;
    max-width: 161px;
  }

  .redial-case-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .redial-client-header {
    max-width: 469px;
    margin-bottom: 45px;
  }

  .redial-cases-right {
    padding: 0px;
    max-width: 570px;
  }

  .redial-better-card {
    padding-right: 35px;
    min-height: 313px;
  }

  .redial-answer-left {
    margin-top: 8px;
  }
}
