@media screen and (min-width: 992px) {
  
}

@media screen and (min-width: 1200px) {
  .mailings-hero-imageblock {
    min-height: 377px;
    margin-top: -44px;
  }

  .mailings-hero-image {
    min-height: 377px;
  }
}
